<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <!-- Base Link - Black -->
    <material name="base_link">
        <color rgba="0.02 0.02 0.02 1.0"/>
    </material>

    <!-- Sanitization Tank - Transparent -->
    <material name="sanitization_transparent">
        <color rgba="0.75 0.90 1.00 0.35"/>
    </material>

    <!-- Storage Link - Blue -->
    <material name="storage_link">
        <color rgba="0.00 0.25 0.85 1.0"/>
    </material>

    <!-- HMI - Yellow -->
    <material name="hmi">
        <color rgba="1.00 0.75 0.00 1.0"/>
    </material>

    <material name="lidar_link">
        <color rgba="1.00 0.75 0.00 1.0"/>
    </material>

    <!-- Camera - Green -->
    <material name="camera_link">
        <color rgba="0.00 0.80 0.20 1.0"/>
    </material>

    <!-- Wheels - Red -->
    <material name="wheels">
        <color rgba="0.85 0.00 0.00 1.0"/>
    </material>

    <!-- Ultrasonic Humidifier - White -->
    <material name="ultrasonic_humidifier">
        <color rgba="1.00 1.00 1.00 1.0"/>
    </material>

</robot>