<?xml version="1.0"?>
<model>
  <name>hospital_ward</name>
  <version>1.0</version>
  <sdf version="1.6">hospital_ward.sdf</sdf>

  <author>
    <name>sam-airobotics</name>
    <email>sampatwardhan1112@gmail.com</email>
  </author>

  <description>
    Hospital ward model for simulation in Gazebo. This model includes walls, doors, and basic furniture to create a realistic hospital environment for testing robotic applications.
  </description>
</model>
